
      <!-- footer -->
      <footer class="footerBG px-5">
        <div class="container-fluid">
          <div class="row text-light py-4">
            <div class="col-lg-4 col-sm-6">
              <h5 class="pb-3">About Us</h5>
              <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nobis dicta molestiae id laboriosam natus repudiandae, ducimus illum veritatis perspiciatis possimus, at facere debitis accusantium?</p>
            </div>
            <div class="col-lg-2 col-sm-6">
              <h5 class="pb-3">Visit Us</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="footer-link">Home</a>
                </li>
                <li>
                  <a href="#" class="footer-link">About</a>
                </li>
                <li>
                  <a href="#" class="footer-link">Services</a>
                </li>
                <li>
                  <a href="#" class="footer-link">Locations</a>
                </li>
                <li>
                  <a href="#" class="footer-link">Careers</a>
                </li>
                <li>
                  <a href="#" class="footer-link">My Account</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-2 col-sm-6">
              <h5 class="pb-3">Need Help?</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="footer-link text-uppercase">Customer Service</a>
                </li>
                <li>
                  <a href="#" class="footer-link text-uppercase">Online Chat</a>
                </li>
                <li>
                  <a href="#" class="footer-link text-uppercase">Support</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-4 col-sm-6">
              <h5 class="pb-3">Stay Connected</h5>
              <p class="small">You may contact us during working timing </p>
              <p class="small"><i class="fas fa-phone-alt text-warning mr-2"></i> Tel : <a href="tel:2345678190" class="footer-link ">1234_5678_190</a></p>
              <p class="small"><i class="far fa-envelope text-warning mr-2"></i> Email : <a href="mailto:info@example.com" class="footer-link ">Info@example.com</a></p>
              <p class="small"><i class="far fa-clock text-warning mr-2"></i> Working Hours : 24 hours</p>          
              <form class="mb-3">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Email Address">
                  <div class="input-group-append">
                    <button type="button" class="btn bg-warning text-white text-uppercase font-weight-bold">Sign Up</button>
                  </div>
                </div>
              </form>
              <ul class="list-inline">
                <li class="list-inline-item"><i class="fab fa-facebook-square fa-2x text-primary"></i></li>
                <li class="list-inline-item"><i class="fab fa-google-plus fa-2x text-danger"></i></li>
                <li class="list-inline-item"><i class="fab fa-instagram fa-2x text-danger"></i></li>
                <li class="list-inline-item"><i class="fab fa-twitter fa-2x text-info"></i></li>
                <li class="list-inline-item"><i class="fab fa-youtube fa-2x text-danger"></i></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col text-center text-light border-top pt-3">
              <p>&copy; 2018 Copyright, All Rights Reserved</p>
            </div>
          </div>
        </div>
      </footer>
      <!-- end of footer -->
    
    
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/scripts.js"></script>
      </body>
    </html>