<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 
    <!-- FontAwsome -->
    <script src="https://kit.fontawesome.com/e87910dde2.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="imgs/favicon.ico" rel="icon" type="image/x-icon" />
    <!-- External Styles -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bootstrap-social.css">
    <title>Auto Services</title>
  </head>
  <body>
    <header class="fixed-top">
        <!-- Top Bar Section -->
        <section id="topbar">
          <div class="container-fluid py-2 ">
              <div class="row px-sm-4 px-1">
                  <div class="col-xl-9 col-md-8 my-auto d-none d-md-block">
                      <p class="mb-0 font-weight-bold">24/7 Road Assistance</p>
                  </div>
                  <div class="col-xl-3 col-md-4 d-flex justify-content-end">
                    <form action="/bookappointment" method="GET">
                      <button class="btn font-weight-bold btn-outline-dark">Book Appointment</button>
                    </form>
                  </div>
              </div>
          </div>
        </section>
        <!-- End of Top Bar Section -->

        <!-- Navbar -->
        <div class="container-fluid bg-white">
            <nav class="navbar navbar-expand-lg nav-menu px-md-4 px-1">
              <a href="/" class="title navbar-brand text-dark my-auto"><span class="h1 font-weight-bold text-uppercase">AUTO</span><span class="h2 titleColor">services</span></a>
              <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#myNavbar">
                <div class="bg-dark line1"></div>
                <div class="bg-dark line2"></div>
                <div class="bg-dark line3"></div>
              </button>
              <div class="collapse navbar-collapse justify-content-center text-uppercase font-weight-bold" id="myNavbar">
                <ul class="navbar-nav ">
                  <li class="nav-item">
                    <a href="/#home" class="nav-link m-2 menu-item" data-filter="topbar">Home</a>
                  </li>
                  <li class="nav-item">
                    <a href="/#services" class="nav-link m-2 menu-item" data-filter="services">Services</a>
                  </li>
                  <li class="nav-item">
                    <a href="/#about" class="nav-link m-2 menu-item" data-filter="about">About</a>
                  </li>
                  <li class="nav-item">
                    <a href="/#download" class="nav-link m-2 menu-item" data-filter="download">Download</a>
                  </li>
                  <li class="nav-item">
                    <a href="/#news" class="nav-link m-2 menu-item" data-filter="news">News</a>
                  </li>
                </ul>
                <div class="dropdown-divider"></div>
                <div class="justify-content-end font-weight-bold text-uppercase d-block d-lg-none">
                  <ul class="navbar-nav">
                    <% if (isLogged === false) {%>
                      <li class="nav-item position-relative"><a href="/login" class="nav-link m-2 menu-item" role="button" data-filter="logins">Login</a></li>
                      <!-- <li class="nav-item position-relative"><a href="/register" class=" nav-link m-2 menu-item" role="button" data-filter="register">Register</a></li> -->
                    <% } else { %>
                      <li class="nav-item position-relative"><a class="myAccountDropDown mx-2 nav-link menu-item text-capitalize" href="#">My Dashboard</a></li>
                      <li class="nav-item position-relative"><a class="myAccountDropDown nav-link mx-2 menu-item text-capitalize" href="/logout" role="button">Logout</a></li>
  
                    <%}%>
   
                  </ul>
                </div>

              </div>
              <div class="justify-content-end font-weight-bold text-uppercase d-none d-lg-block">
                <ul class="navbar-nav">
                  <% if (isLogged === false) {%>
                    <li class="nav-item position-relative"><a href="/login" class="nav-link m-2 menu-item" role="button" data-filter="logins">Login</a></li>
                    <!-- <li class="nav-item position-relative"><a href="/register" class=" nav-link m-2 menu-item" role="button" data-filter="register">Register</a></li> -->
                  <% } else { %>
                    <li class="nav-item position-relative"><a class="myAccountDropDown mx-2 nav-link menu-item text-capitalize" href="#">My Dashboard</a> </li>
                    <li class="nav-item position-relative">
                      <a class="myAccountDropDown nav-link mx-2 menu-item text-capitalize" href="/logout" role="button"><i class="fas fa-sign-out-alt" style="font-size: 18px;"data-toggle="tooltip" data-placement="top" title="Logout"></i></a>
                                         
                    </li>

                  <%}%>
 
                </ul>
              </div>
            </nav>
        </div>
        <!-- End of Navbar -->
    </header>
    <div class="separator"></div>